section.benefits p {
    color: var(--accent5);
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
}

section.benefits > p.benefits-caption {
    color: var(--accent1);
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    margin-bottom: 2rem;
}

section.benefits > hr {
    margin: 6rem 0rem 2.7rem 0rem;
}

section.benefits > h2 {
    font-family: var(--font-heading);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    letter-spacing: var(--letter-spacing-heading1);
    line-height: var(--line-height-heading1);
    margin-bottom: 2rem;
}

section.benefits > div.benefits-list > img.benefit-icon {
    width: 1.6rem;
    height: auto;
    margin-bottom: 0.8rem;
}

section.benefits > div.benefits-list > hr {
    margin: 3.4rem 0rem 2.7rem 0rem;
}