.benefits p {
    color: var(--accent5);
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
}

.benefits .benefits-caption {
    color: var(--accent1);
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    margin-bottom: 2rem;
}

.benefits h2 {
    font-family: var(--font-heading);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    letter-spacing: var(--letter-spacing-heading1);
    line-height: var(--line-height-heading1);
    margin-bottom: 2rem;
}

.benefits .benefits-list {
    list-style: none;
    margin-top: 6rem;
}

.benefits .benefit-item .benefit-icon {
    width: 1.6rem;
    height: auto;
    margin-bottom: 0.8rem;
}

.benefits .benefit-item h3 {
    font-family: var(--font-heading);
    font-size: var(--heading3-size);
    font-weight: var(--heading3-weight);
    margin-bottom: 1rem;
}

.benefits .benefit-item .benefit-illustration {
    width: 100%;
    height: 600px;
    margin: 7rem 0rem 2rem 0rem;
    border-radius: 30px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}