.cta {
    border-top: solid 1px var(--divider);
    margin-top: 5rem;
    padding-top: 5rem;
    text-align: center;
}

.cta .cta-title {
    font-family: var(--font-heading);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    letter-spacing: var(--letter-spacing-heading1);
    line-height: var(--line-height-heading1);
    margin-bottom: 2rem;
}

.cta .cta-text {
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
    color: var(--accent5);
}

.cta .learn-more {
    margin: 2.5rem auto 5rem;
    width: 95%;
}

@media (min-width: 768px) {
    .cta .learn-more {
        width: 71%;
    }
}