footer {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 1rem 1.87rem 1rem;
}

footer > nav.links > a.anchor {
    display: block;
    margin-bottom: 1.68rem;
}

footer > div.credits {
    display: flex;
    margin-top: 3.31rem;
    align-items: flex-end;
    justify-content: space-between;
}

footer > div.credits > img {
    width: 1.98rem;
}

footer > div.credits > p {
    color: var(--accent1);
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
}