footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.87rem;
}

footer a.anchor {
    display: block;
    margin-bottom: 1.68rem;
}

footer div.credits {
    display: flex;
    margin-top: 3.31rem;
    align-items: flex-end;
    justify-content: space-between;
}

footer img {
    width: 1.98rem;
}

footer p.text-credits {
    color: var(--accent1);
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
}