footer {
    display: flex;
    flex-direction: column;
    border-top: solid 1px var(--divider);
    padding: 4.5rem 0 1.87rem;
}

footer .anchor {
    display: block;
    margin-bottom: 1.68rem;
}

footer .credits {
    display: flex;
    margin-top: 3.31rem;
    align-items: flex-end;
    justify-content: space-between;
}

footer img {
    width: 1.98rem;
}

footer .text-credits {
    color: var(--accent1);
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
}

@media (min-width: 768px) {
    footer .links {
        display: flex;
        column-gap: 1.7rem;
    }
}