header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
    padding: 1.25rem;
    background-color: var(--background);
    border-radius: 0rem 0rem 1.25rem 1.25rem;
    /* top-left: 0rem
       top-right: 0rem
       bottom-right: 1.25rem
       bottom-left: 1.25rem */
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    max-height: 4.37rem;
    overflow-y: hidden;
}

header.expanded {
    max-height: 100vh;
    transition: max-height .4s ease-in-out;
}

header .header-top {
    display: flex;
    justify-content: space-between;
}

header .logo {
    font-size: 1.87rem;
    line-height: 1.2;
    letter-spacing: -0.05em;
    font-weight: 500;
}

header .menu-toggle {
    display: block;
    margin: 0.19rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none; 
    background-color: var(--background-color);
    background-image: url('../assets/images/menu-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .2s ease-out;
}

header .menu-open {
    background-image: url('../assets/images/close-icon.png');
}

header .menu-closed {
    background-image: url('../assets/images/menu-icon.png');
}

header .menu-toggle.fade {
  opacity: 0;
}

header .menu-toggle:hover {
    cursor: pointer;
}

header .dropdown { 
    display: flex;
    flex-direction: column;
}

header .separator {
    height: 1px;
    background-color: var(--divider);
    margin: 1.87rem 0rem;
}

@media (min-width: 768px) {
    header {
        position: static;
        overflow-y: visible;
        box-shadow: none;
    }
}