.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero .display {
    font-family: var(--font-heading);
    font-weight: var(--display-weight);
    font-size: var(--display-size);
    line-height: var(--line-height-display);
    letter-spacing: var(--letter-spacing-display);
    text-align: center;
}

.hero .wrapper {
    overflow-y: hidden;
    width: 100%;
    max-width: 1300px;
}

.hero .inner {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: var(--accent3);
    margin-top: 6.25rem;
    height: 362px;
    border-radius: 1.87rem;
}

@media (min-width: 768px) {
    .hero .display {
        font-size: 7rem;
    }
}