.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.hero .display {
    font-family: var(--font-heading);
    font-weight: var(--display-weight);
    font-size: var(--display-size);
    line-height: var(--line-height-display);
    letter-spacing: var(--letter-spacing-display);
    text-align: center;
}

.hero .wrapper {
    overflow-y: hidden;
    width: 100%;
    max-width: 1300px;
}

.hero .inner {
    display: flex;
    justify-content: center;
    background-color: var(--accent3);
    margin-top: 6.25rem;
    height: 22.6rem;
    border-radius: 1.87rem;
}

.hero .inner img {
    margin-top: -2.81rem;
    width: 16rem;
    height: 32.61rem;
    border: solid 0.68rem black;
    border-radius: 2.69rem;
}