.how-it-works .section-intro {
    border-bottom: solid 1px rgb(0, 0, 0, 0.09);
    margin-bottom: 4rem;
    padding-bottom: 1.4rem;
}

.how-it-works h2 {
    font-family: var(--font-heading);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    line-height: var(--line-height-heading1);
    letter-spacing: var(--letter-spacing-heading1);
}

.how-it-works .steps {
    display: flex;
    list-style: none;
    width: 90vw;
    gap: 3.4rem;
    overflow-x: auto;
}

.how-it-works .step {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.how-it-works .item-number {
    font-size: 3.7rem;
    color: var(--accent6);
}