.specs .specs-caption {
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    color: var(--accent1);
    text-align: center;
}

.specs h2 {
    font-family: var(--font-heading);
    font-size: var(--heading1-size);
    font-weight: var(--heading1-weight);
    letter-spacing: var(--letter-spacing-heading1);
    line-height: var(--line-height-heading1);
    text-align: center;
    margin: 1.8rem 0;
}