.testimonial {
    border-top: solid 1px var(--divider);
    margin-top: 4rem;
    padding-top: 4.5rem;
}

.testimonial img {
    width: 100%;
    height: 343px;
    border-radius: 40px;
    object-fit: cover;
}

.testimonial .testimonial-content {
    border-top: solid 1px var(--divider);
    margin: 2.6rem 0 4rem;
    padding: 2.6rem 0.9rem 0 0.9rem;
}

.testimonial .testimonial-text {
    font-family: var(--font-heading);
    font-size: var(--heading2-size);
    font-weight: var(--heading2-weight);
    line-height: var(--line-height-heading2);
    letter-spacing: var(--letter-spacing-heading2);
    color: var(--accent4);
    margin-bottom: 2rem;
}

.testimonial .author {
   display: flex;
   align-items: center;
   gap: 0.6rem;
}

.testimonial .author-name {
    font-size: var(--paragraph-size);
    font-weight: var(--paragraph-weight);
}

.testimonial .author-position {
    font-family: var(--font-caption);
    font-size: var(--caption-size);
    font-weight: var(--caption-weight);
    color: var(--accent1);
}

@media (min-width: 768px) {
    .testimonial .author-name {
        font-size: 0.8rem;
    }

    .testimonial .author-position {
        font-size: 0.6rem;
    }
}