.testimonial img {
    width: 100%;
    height: 343px;
    border-radius: 40px;
    object-fit: cover;
}

.testimonial .testimonial-content {
    border-top: solid 1px rgb(0, 0, 0, 0.1);
    margin: 2.6rem 0 6rem;
}