.testimonial img {
    width: 100%;
    height: 343px;
    border-radius: 40px;
    object-fit: cover;
}

.testimonial .testimonial-content {
    border-top: solid 1px rgb(0, 0, 0, 0.1);
    margin: 2.6rem 0 6rem;
}

.testimonial .testimonial-text {
    font-family: var(--font-heading);
    font-size: var(--heading2-size);
    font-weight: var(--heading2-weight);
    line-height: var(--line-height-heading2);
    letter-spacing: var(--letter-spacing-heading2);
    color: var(--accent4);
}